body
  font-family: "Source Sans Pro", sans-serif

h1, h2, h3
  font-family: "Ubuntu", sans-serif

a
  color: #FF3B3F

.tiles
  margin: 0
  padding: 0
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: flex-start

.tiles__item
  width: 300px
  height: 300px
  margin: 15px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
  display: flex
  flex-flow: column nowrap
  flex-align: center
  justify-content: center
  text-decoration: none
  transition: all 0.3s ease-out

.tiles__item:hover
  box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21)

.tiles__item.widen:hover
  width: 660px
  margin-left: -10px
  margin-right: -10px

.tiles__item.white
  background-color: inherit
  color: inherit

.tiles__item.red
  background-color: red
  color: white

.tiles__item.blue
  background-color: blue
  color: white

.tiles__item-header
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start
  background-color: rgba(255, 255, 255, 0.8)
  padding: 10px
  font-size: 0.7em

.tiles__item-content
  display: block
  max-width: 100%
  background-color: rgba(255, 255, 255, 0.8)
  padding: 0 10px

.tiles__item-title
  display: block
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  margin-top: 0

.tiles__item-description

.spacer
  flex-grow: 1
  transition: all 0.3s ease

.tiles__item-date
  font-family: Inconsolata, monospace

.day::after,
.month::after
  color: blue
  content: " / "

