extends ../layouts/main.pug

block body
  section.flex.flex-row.items-start.justify-start.w-full.my-40
    img.flex-none.hidden.w-56.mr-4.border.border-gray-500( class="sm:block" src="../assets/alexbarry.jpg" class="" alt="A picture of me" )

    div.flex-grow.text-2xl
      | Hi, my name's Alex, and I'm a
      |
      a.underline( href="https://vehikl.com" )
        | Senior Software Developer at
        |
        strong.font-bold Vehikl
      | .
      | I drink copious amounts of coffee, play video games, and most importantly (to some people), create software.
      | You might know my partner in crime,
      |
      a.font-bold.underline( href="https://erinnbarry.com" ) Erinn
      | , and our super cute retired service dog, Harley, and adopted beagle-labrador mix Rufus.
