extends ../layouts/main.pug

mixin photo(href, alt)
  a( href=href target='_blank' )
    img.h-40.w-auto.p-2.m-2.border.border-white-500( src=href alt=alt )

block body
  +section('Hello')
    p.text-2xl.leading-relaxed
      | Hi, my name's Alex, and I'm a
      |
      a.underline( href='https://vehikl.com' target='_blank' )
        | Senior Software Developer at
        |
        strong.font-bold Vehikl
      | .
    p.text-2xl.leading-relaxed
      | I am a full stack webdeveloper, with an emphasis on simplicity.
    p.text-2xl.leading-relaxed
      | You might know my partner in life and crime,
      |
      a.font-bold.underline( href='https://erinnbarry.com' target='_blank' ) Erinn
      | .
    p.text-2xl.leading-relaxed
      | We also have a super cute retired service dog, Harley, and adopted beagle-labrador mix Rufus.

    .flex.flex-row
      +photo('/assets/alexbarry.jpg', "It's me!" )
      +photo('/assets/alex-and-erinn.jpg', 'Erinn and I' )
      +photo('/assets/harley-and-rufus.jpg', 'Harley and Rufus' )
      +photo('/assets/family-christmas.jpg', 'You can appreciate how hard it is to take a family photo with two dogs and a camera on a timer' )

  +section('Streaming')
    p.text-gray-500.mb-2 Curious if I'm up to something?
    a(href="http://twitch.tv/mrozbarry")
      img( src="http://streambadge.com/twitch/mrozbarry.png" width="300" height="64" alt="mrozbarry's Streambadge" )

  .grid-cols-2( class='md:grid' )
    include ../blocks/skills
    include ../blocks/languages
    include ../blocks/tools
    include ../blocks/courses
    include ../blocks/friends
    include ../blocks/projects

    +section('Social Media')
      p.text-gray-500.mb-2 Feel free to follow me on social media websites. Unless that's not your thing.
      ol.list-disc.list-inside.text-xl
        +listLink('https://www.linkedin.com/in/alex-barry-4b033227', '_blank') linkedin
        +listLink('https://github.com/mrozbarry', '_blank') github
        +listLink('https://stackoverflow.com/users/661764/ozbarry', '_blank') stackoverflow
        +listLink('https://twitch.tv/mrozbarry', '_blank') twitch
        +listLink('https://twitter.com/mrozbarry', '_blank') twitter
        +listLink('https://www.youtube.com/channel/UCJURsP2atEK8nVlQT6Qo0gQ', '_blank') youtube

    +section('Other Links')
      p.text-gray-500.mb-2 Some stuff that isn't necessarily tech-related.
      ol.list-disc.list-inside.text-xl
        +listLink('https://oldagechristianity.com', '_blank') Old Age Christianity podcast
        +listLink('https://github.com/mrozbarry/christianity-blog', '_blank') My Christianity blog
