extends ../layouts/main.pug

block append htmlHead
  style.
    p.aragraph {
      text-indent: 1rem;
    }

block body
  +section('The Testimony of Jesus Christ in my life')
    p.aragraph.mb-2
      | I want to be clear, I'm not special.
      | You'll hear some testimonies that are radical, akin to Saul the Pharisee to Paul the Apostle, but that's not me.
      | I grew up in a Christian household, and my parents certainly try their best to follow after God.
      | I have two older brothers, one of whom is now a police officer, and the other a musician.
      | Growing up with them had it's challenges; it wasn't uncommon for fist fights to break out between my brothers.
      | I've always been more of a pacifist; I'm sure I've given out a couple shoves, but I've never been one to pick a fight.

    p.aragraph.mb-2
      | I think most of my story begins when I was about fifteen.
      | The church my parents attended had a pastor who's parents out in western Canada has some failing health.
      | When this pastor left, there was a search for a new pastor.
      | The church contacted the head office of the denomination we were associated with, looking for someone to fill the role.
      | We had several pastors come in as potential leaders, but none were interested in an out-of-the-way, older congregation-filled church.
      | After all options were exhausted, it fell into my Dad's lap, who took the position.
      | To be clear, my Dad would probably consider himself under-qualified, and would have rather had someone with the education and confidence to lead the church.
    p.aragraph.mb-2
      | In parallel started declining.
      | While I don't have proof for or against it, my parents were (and still are) convinced that it was a spiritual attack.
      | We'll get back to my personal opinions on that later.
      | For a number of years, my health was up and down, with multiple doctor visits, surgeries, pain medication, and home-care nurses.
      | I had to do my highschooling part time, mostly at home, but I did go into classes some days when I could.
      | If you think that sucks, I still have the same medical problem, with no solution in sight, even though my original surgeon said my issue was common, and should be fixed up in three months.
    p.aragraph.mb-2
      | When it came to the end of highschool, through all my part time schooling and pain medication, my marks weren't great.
      | Originally, I wanted to get into university for software development, but given the state of my transcript, I wasn't going to get into Waterloo University, which was my hope and preference.
      | Instead, I ended up at bible college, in Kitchener, the sister-city of Waterloo where Waterloo University was.
      | Honestly, at this point, I don't really know why I chose to go to bible college.
      | I guess I wanted to do something post-secondary, and the barrier to entry in bible college is pretty low.
    p.aragraph.mb-2
      | Bible college was certainly an event.
      | There is all sorts of things to unpack and talk about, but there is too much to put here.
      | In my second semester, I felt drawn to baptism.
      | After my baptism, things were different.
      | There were things in my life that I just knew I could not do any more.
      | I also started doing ministry there, leading a weekly prayer group, and a little later, also leading worship once a week in the chapel.
      | In my third year, I met my wife, Erinn.
      | We bonded over video games, technology, and being a cute bunch of nerds.
      | We also bonded over what the college considered a heresy, simultaneous monarchianism modalism.
      | When we shared our beliefs with some professors, we were very rudely told how heretical and unchristian we were, and we would never be able to graduate.
      | I can't take the credit, and neither can Erinn, but after we left, the bible college took a nose dive and is just barely handing on to this day.
    p.aragraph.mb-2
      | Since leaving, Erinn and I were sort of fed up with all that Christian stuff.
      | Bible college is the sort of place that can really drain you, and make you so disillusioned with who has been given authority to lead the church.
      | I don't think we fell out of faith.
      | We just needed a long break from things, and time to figure out who we were, and what this whole marriage thing is.
    p.aragraph.mb-2
      | Our faith got recently reignited when we started discovering that New Age and New Thought had infiltrated the things we thought were good and celebrated God.
      | One of those things was our enjoyment of the band Jesus Culture.
      | Well, it turns out there is a new age/yoga/kundalini root that stems from that band, to their church, to their leader, to a spiritual awakening at Toronto Airport Church, and runs deep and far into the things we thought we could trust.
      | And those roots were in us, too, and we had to repent and uproot all sorts of things.
      | There are games I cannot play, music I cannot listen to, and movies that I can no longer watch.
      | Repenting is hard.
    p.aragraph.mb-2
      | I'm still learning about my faith, but I am confident in my salvation in Jesus Christ.
      | Where I used to just go by things that I've heard, I've been digging much more into my Bible to get first and second-hand accounts of Jesus and His ministry.
      | I've settled that in all of theology, the only thing that is important is salvation, and salvation is through Jesus Christ alone.
    p.aragraph.mb-2
      | I'm actively looking for a Christian community to join, but that's proven hard.
      | The pastors that say they believe in Jesus can't answer when I ask if they preach that same Jesus and salvation to their community.
      | The predominatly mennonite town I live in has hardened hearts, and have been infiltrated by people practicing wicca and witchcraft.
      | All that, and I feel that I can't compromise my faith, just like I stood by Erinn and our beliefs at bible college, so I can't just join a church that doesn't preach the Jesus I know and love.
    p.mb-2.font-bold
      | In spite of everything I've been through, I still praise God.
