extends ../layouts/main.pug

block append htmlHead
  style.
    p.aragraph {
      text-indent: 1rem;
    }

block body
  +section('The Testimony of Jesus Christ in my life')
    p.aragraph.mb-2
      | I want to be clear, I'm not special.
      | You'll hear some testimonies that are radical, akin to Saul the Pharisee to Paul the Apostle, but that's not me.
      | I grew up in a Christian household, and my parents certainly try their best to follow after God.
      | I have two older brothers, one of whom is now a police officer, and the other a musician.
      | Growing up with them had it's challenges; it wasn't uncommon for fist fights to break out between my brothers.
      | I've always been more of a peace-maker; I'm sure I've given out a couple shoves, but I've never been one to start a fight.

    p.aragraph.mb-2
      | I think most of my story begins when I was about fifteen.
      | The church my parents attended had a pastor who's parents out in western Canada has some failing health.
      | When this pastor left, there was a search for a new pastor.
      | The church contacted the head office of the denomination we were associated with, looking for someone to fill the role.
      | We had several pastors come in as potential leaders, but none were interested in an out-of-the-way, older congregation-filled church.
      | After all options were exhausted, it fell into my Dad's lap, who took the position.
      | To be clear, my Dad would probably consider himself under-qualified, and would have rather had someone with the education and confidence to lead the church.

    p.aragraph.mb-2
      | In parallel, my health started declining.
      | While I don't have proof for or against it, my parents were (and still are) convinced that it was a spiritual attack.
      | We'll get back to my personal opinions on that later.
      | For a number of years, my health was up and down, with multiple doctor visits, surgeries, pain medication, and home-care nurses.
      | I had to do my highschooling part time, mostly at home, but I did go into classes some days when I could.
      | If you think that sucks, I still have the same medical problem, with no solution in sight, even though my original surgeon said my issue was common, and should be fixed up in three months (that was in 2005!).

    p.aragraph.mb-2
      | When it came to the end of highschool, through all my part time schooling and pain medication, my marks weren't great.
      | Originally, I wanted to get into University of Waterloo for software development, but given the state of my marks, that dream seemed impossible.
      | Instead, I ended up at bible college, in Kitchener, the sister-city of Waterloo where Waterloo University was.
      | Honestly, at this point, I don't really know why I chose to go to bible college.
      | I did have a thought that I'm similar in temperment to my Dad, so maybe pursuing a pastoral degree made sense.
      | That, and the barrier to entry in bible college is pretty low.

    p.aragraph.mb-2
      | I was living a bit of a double-life;
      | There was my church life, where I looked like a good Christian boy who knew the right things to say, but there was also a secret life...
      | But also a life where I was not a good Christian boy, who was actively going against the very things I claimed to believe and live by.
      | With that in mind, my first year of bible college was certainly an event.
      | In my second semester, I felt drawn to baptism.
      | After my baptism, things were different.
      | I realized that I was bought with a price by Christ's blood, and I wasn't my own anymore.
      | I made an ultimatum with my at-the-time girlfriend that we had to stop some of the things we were doing that dishonoured my biblical beliefs and grieved my God, which resulted in me ending that relationship.
      | There were things in my life that I just knew I could not do any more.
      | I also started doing ministry there, leading a weekly prayer group, and a little later, also leading worship once a week in the chapel.
      | To be clear, I still wasn't perfect (and continue to not be perfect), but felt a new weight to sin in my life.
      | In my third year, I met my wife, Erinn.
      | We bonded over video games, technology, and being a cute bunch of nerds.
      | We also bonded over what the college considered a heresy, simultaneous monarchianism modalism.
      | When we shared our beliefs with some professors, we were very bluntly told how heretical and unchristian we were, and we would never be able to graduate, and are probably heading to hell.
      | I can't take the credit, and neither can Erinn, but after we left, the bible college took a nose dive and is a husk compared to what it used to be.

    p.aragraph.mb-2
      | Since leaving, Erinn and I were sort of fed up with all that Christian stuff.
      | College was a glorified Christian summer camp, and at the time, it didn't feel like the professors there actually took a stand on scripture.
      | It is the sort of place that can really drain you, left us disillusioned.
      | I don't think we fell out of faith, but we did know the Christianity portrayed at College, where everyone felt fake, the people going into the pastoral program had some very anti-Christian views, and there just didn't seem to be a focus on God's Word.
      | I think Erinn and I also just needed a long break from things, and time to figure out who we were, and what this whole marriage thing is.

    p.aragraph.mb-2
      | Our faith was reignited when we started discovering that New Age and New Thought had infiltrated the things we thought were good and celebrated God.
      | One of those things was our enjoyment of the band Jesus Culture.
      | Well, it turns out there is a new age/yoga/kundalini root that stems from that band, to their church, to their leader, to a spiritual awakening at Toronto Airport Church, and runs deep and far into the things we thought we could trust.
      | And those roots were in us, too, and we had to repent and uproot all sorts of things.
      | There are games I cannot play, music I cannot listen to, and movies that I can no longer watch.
      | Repenting is hard.

    p.aragraph.mb-2
      | Even with being reignited in our faith, we were still disconnected from the body of believers, the church.
      | We had tried going to a few churches over the years, but nothing really clicked.
      | When I go to a church, I want to hear scripture read, the gospel preached, and Christ worshipped, and you'd be surprised how hard it is to get that combination.
      | There's a lot of nuance in churches, too.
      | You can hear a gospel, but not always *the* gospel.
      | You can hear scripture, but it's not always used in context, or exposited well.
      | You can hear singing, but it's not always worshipping the same Jesus Christ that's I read in the Bible.
      | Often when I tried going to a church, they'd have a guest speaker or a "special" event;
      | There's nothing wrong with that, but often these things mean I don't really get to know how a churches pastor leads or believes.

    p.aragraph.mb-2
      | Now comes 2019, and everyone's favorite virus shows up.
      | Let me tell you, for the first few months, my wife and I were some of the first to wear masks, and even gloves, in our area.
      | Every outing was planned, bordered with caution.
      | But you know what, after about 3 months, we stopped doing that.
      | Yup, we became those awful super spreaders, public enemy number one.
      | Maybe we're rebels, but we have always held strong to our convictions, even when it's not popular.
      | Now, I'm just just bringing this up so people have a reason to argue with me over health politics, but instead to show you how this brought me back to a church.

    p.aragraph.mb-2
      | The first thing I want to say is "zoom church" is not church.
      | You cannot gather physically together over zoom.
      | You do not sing together on zoom.
      | You are not accountable with anyone watching zoom.
      | I'm also a realist, I know that many congregations were terrified, just like I was, and wanted to be safe.
      | This sounds okay on the surface, but it really demonstrated what I already knew about the modern church; she has become weak and does not trust God.
      | The church used to be at the forefront of health care, even at the risk of our own health.
      | God never promsied that we'd always be healthy, but He has promised that He will be with us in both in well being and suffering.
      | And we also know God blesses those who love Him, and curses those who hate Him.
      | And we knew Jesus said, in hyperbole, that we must appear to hate everything in comparison to our love for Him.
      | That means we need to be courages in congregating and worshipping together.
      | The church failed there. I'd even argue that this revealed the true church, the remnant that God has watched over.
      | While many churches closed and went to zoom, or made her congregants register with 6-ft spacing between seats, some churches were courageous and took a bold stand and defied the government.
      | There was a well know local church to me that took this stand, but honestly, that's not enough.
      | Anyone can take a bold stand, and that doesn't mean they are "the church."
      | Erinn and I observed this church for a few months, we wanted to know if they just talked the talk for the media attention, or if they actually walked the walk too.
      | We determined they did read scripture, preach the Gospel, and did worship Jesus Christ together, and we have been attending regularly.

    p.aragraph.mb-2
      | This story isn't over, but here are the conclusions I have so far.
      | The church must gather.
      | God is perfectly faithful to undeserving sinners.
      | You cannot be faithful in isolation, and you must be driven to the cross daily.

    p.aragraph.mb-2
      | The Gospel, as described in the Bible, is this:
      ol.list-decimal.ml-2.my-2
        li All humans are inheritly sinful, stemming from the literal account in Genesis.
        li God's plan from the beginning was to be a redeemer to humanity, God was not taken by surprise by events in the Garden of Eden.
        li Sin must be punished by death, and sinful humans cannot be in the presence of a Holy and Just God.
        li While there were many archetypes of Christ in the Old Testament, these were only to point to the birth, life, death, and resurrection of Jesus Christ.
        li God came to earth as Jesus Christ, while still fully God, was also fully man, and live a literal life.
        li Jesus Christ was crucified on the cross as a payment for our sins; God took on His own punishment, being a substitue for us.
        li After three days, Jesus Christ rose from the dead, conquering death.
        li Jesus offers Himself, through Grace and Faith, to everyone, and for those who receive that Grace and Faith, are pardoned by Christ's sacrifice and justified, which is to be declared Holy.
      | I wholeheartedly believe this, in spite of what is the popular opinion today.
      | I also believe Jesus Christ will literally and physically come back to earth in judgement, and for many, this will be a horrific and sad day.
      | I do truly hope and pray that one day, you, my audience, my friends in tech, and others around the globe, would believe it too.
        
