nav.w-full
  main.container.flex.flex-row.items-center.justify-start.px-2.mx-auto
    a.py-2.font-bold( href="/" ) Mr. Barry

    .flex-grow


    a.py-2.ml-4.underline( href="/projects.html" ) Projects
    a.py-2.ml-4.underline( href="/friends.html" ) Friends
    a.py-2.ml-4.underline( href="/hands-on-web-development-with-hyperapp.html" ) Hands-on Web Development with Hyperapp</a>
  </main>
</nav>
