nav.w-full
  main.container.flex.flex-col.items-center.justify-start.px-2.mx-auto( class="sm:flex-row" )
    a.py-2.font-bold.underline( href="/" ) Mr. Barry

    .flex-grow

    a.py-2.ml-4.underline( href="/projects" ) Projects
    a.py-2.ml-4.underline( href="/courses" ) Courses
    button.py-2.ml-4.underline#dark-mode( data-mode="auto" ) Switch to auto
    .py-2.ml-4#current-mode [theme: auto]
