doctype html
html( lang="en" )
  head
    meta( charset="UTF-8" )
    meta( http-equiv="Content-Type" content="text/html; charset=utf-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1" )

    title Alex Barry: Software Developer

    link( href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" )
  body
    include ../components/navigation.pug

    div.container.px-2.mx-auto
      block body
